
Catalog/Logs/

.vs/ASP.NET/v16/.suo

.vs/ASP.NET/DesignTimeBuild/

Catalog/obj/

Catalog.Tests/obj/

WeatherAuth/obj/

WeatherIdentity/obj/

WeatherNoAuth/obj/

Catalog.Tests/bin/

Catalog/bin/

.vs/

WeatherAuth/bin/

WeatherIdentity/bin/

WeatherNoAuth/bin/
